.card {
    background-color: white; /* Light theme background */
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, background-color 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Default text color for light theme */
.card-content {
    padding: 1rem;
    text-align: center;
    color: #333; /* Light theme text color */
}

/* Dark theme specific styles */
body.dark-theme .card {
    background-color: black; /* Change card background to black for dark theme */
}
body.dark-theme .card-content {
    color: #f8f9fa; /* Change text color to light (white) for dark theme */
}
