body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #333;
    color: #f8f9fa;
}
